<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>List of all users</h1>
    <div class="search-area">
        <input type="text" id="search-box" class="form-control mb-2 mr-sm-2" placeholder="Search..." value="<%=searchValue%>">
        <button id="user-search-button" class="btn btn-primary">Search</button>
        <button id="reset-button" class="btn btn-outline-secondary">Reset</button>
    </div>
    <hr>
    <div id="users-box">
        <% if(users.length > 0) { %>
            <% for(i = 0; i < users.length; i++) { %>
                <div class="users">
                    <h3>User <%= i+1 %></h3>
                    <p><b>Username</b>: <%= users[i].username %> </p>
                    <p><b>Password Hash</b>: <%= users[i].password %> </p>
                    <p><b>ID</b>: <%= users[i]._id %></p>
                    <p><b>Created</b>: <%= users[i].createdAt.toString() %></p>
                    <button class="delete-buttons" data-id="<%=users[i]._id%>" data-name="<%=users[i].username%>">Delete User</button>
                    <hr>
                </div>
            <% } %>
        <% } else { %>
            <p class="display-6 text-center" > No users <%=' with name: ' + searchValue %></p>
        <% } %>
    </div>
    
    <%- include('./partials/footer.ejs')  %>
</body>
<script defer src="/scripts/users.js"></script>
</html>