<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h2>List of all users</h2>
    <input type="text" id="search-box" placeholder="Search..." value="<%=searchValue%>">
    <button id  ="user-search-button">Search</button>
    <button id="reset-button">Reset</button>
    <hr>
    <div id="users-box">
        <% if(users.length > 0) { %>
            <% for(i = 0; i < users.length; i++) { %>
                <div class="users">
                    <h3>User <%= i+1 %></h3>
                    <p>Username: <%= users[i].username %> </p>
                    <p>Password: <%= users[i].password %> </p>
                    <p>ID: <%= users[i]._id %></p>
                    <button class="delete-buttons" data-id="<%=users[i]._id%>" data-name="<%=users[i].username%>">Delete User</button>
                    <hr>
                </div>
            <% } %>
        <% } else { %>
            <h3> No users</h3>
        <% } %>
    </div>
    
    <%- include('./partials/footer.ejs')  %>
</body>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    const deleteButtons = document.getElementsByClassName('delete-buttons');
    const buttonDefaultText = 'Delete User'
    const buttonConfirmText = ' Are you sure? '
    const buttonDefaultState = 0;
    const buttonConfirmState = 1;

    for(i = 0; i < deleteButtons.length; i++) {
        const button = deleteButtons[i];
        button.state = buttonDefaultState;
        button.addEventListener("click", async () => {
            if(button.state == buttonDefaultState) { //To double check
                button.state = buttonConfirmState; // Change state
                button.innerHTML = buttonConfirmText; // Change text
                sleep(5000).then(() => {button.state = buttonDefaultState; button.innerHTML = buttonDefaultText;});  // set to default
            } else {
                const url = `/users/${button.dataset.id}`
                fetch(url, {
                    method: 'DELETE'
                })
                .then((res) => res.json())
                .then((res) => {window.location.href = res.redirect}) // Redirect user to the url from the response
                .catch((err) => {console.log(err)});
            }
        });
    }

    const searchButton = document.getElementById('user-search-button');
    const searchBox = document.getElementById('search-box');
    const resetButton = document.getElementById('reset-button');

    searchButton.addEventListener('click', () => {
        window.location.href = `/users/get/${searchBox.value}`;
    })

    searchBox.addEventListener("keyup", (e) => {
        if(e.key === 'Enter') {
            window.location.href = `/users/get/${searchBox.value}`;
        };
    });

    resetButton.addEventListener('click', () => {
        window.location.href = '/users/get';
    });




</script>
</html>